/* =====================================================
   BASE
===================================================== */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #071416;
    font-family: Arial, sans-serif;
}

a {
    -webkit-tap-highlight-color: transparent;
}


/* =====================================================
   PAGE ACCUEIL
===================================================== */

.accueil {
    position: relative;

    width: 100%;
    max-width: 500px;
    height: 100dvh;

    margin: auto;

    background-image: url("fond.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}


/* -----------------------------------------------------
   ZONES DE CLIC ACCUEIL — TEST
----------------------------------------------------- */

.zone-clic {
    position: absolute;

    z-index: 20;

    display: block;

    background: rgba(255, 0, 0, .25);
    border: 1px solid red;

    -webkit-tap-highlight-color: transparent;
}


/* Mes voyages */

.zone-voyages {
    left: 22%;
    bottom: 120px;

    width: 50%;
    height: 50px;
}


/* Ajouter */

.zone-ajouter {
    left: 27%;
    bottom: 38px;

    width: 50%;
    height: 50px;
}


/* =====================================================
   PAGE AJOUTER
===================================================== */

.page-ajouter {
    position: relative;

    width: 100%;
    max-width: 500px;
    height: 100dvh;

    margin: auto;

    background-image: url("fond2.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}


/* -----------------------------------------------------
   ZONE RETOUR — TEST
----------------------------------------------------- */

.zone-retour {
    position: absolute;

    z-index: 30;

    display: block;

    background: rgba(255, 0, 0, .25);
    border: 1px solid red;

    -webkit-tap-highlight-color: transparent;
}


/* Retour Ajouter */

.zone-retour-ajouter {
    top: 20px;
    left: 10px;

    width: 50px;
    height: 50px;
}


/* -----------------------------------------------------
   FORMULAIRE
----------------------------------------------------- */

.formulaire-voyage {
    position: absolute;

    left: 10%;
    top: 25%;

    width: 80%;

    display: flex;
    flex-direction: column;

    gap: 15px;
}


/* -----------------------------------------------------
   3 CHAMPS DE SAISIE — TEST
----------------------------------------------------- */

.formulaire-voyage > input {
    width: 88%;
    height: 42px;

    padding: 0 16px;

    border: 1px solid red;
    border-radius: 15px;

    background: rgba(255, 0, 0, .20);

    color: white;

    font-size: 16px;

    outline: none;
}

.formulaire-voyage > input::placeholder {
    color: white;
}


/* Date */

.formulaire-voyage input[type="date"] {
    color: white;
}


/* -----------------------------------------------------
   GRANDE ZONE PHOTO — TEST
----------------------------------------------------- */

.cadre-photo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 87%;
    height: 145px;

    border: 1px solid red;
    border-radius: 18px;

    background: rgba(255, 0, 0, .20);

    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    overflow: hidden;
}

.cadre-photo input {
    display: none;
}


/* -----------------------------------------------------
   BOUTON ENREGISTRER — TEST
----------------------------------------------------- */

.cadre-enregistrer {
    width: 100%;
    height: 55px;

    border: 1px solid red;
    border-radius: 16px;

    background: rgba(255, 0, 0, .20);

    color: white;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}


/* =====================================================
   PAGE MES VOYAGES
===================================================== */

.page-voyages {
    position: relative;

    width: 100%;
    max-width: 500px;
    height: 100dvh;

    margin: auto;

    background-image: url("fond3.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}


/* -----------------------------------------------------
   ZONE RETOUR — TEST
----------------------------------------------------- */

.zone-retour-voyages {
    top: 20px;
    left: 27px;

    width: 45px;
    height: 45px;
}


/* -----------------------------------------------------
   GRANDE ZONE SCROLLABLE — TEST
----------------------------------------------------- */

.liste-voyages {
    position: absolute;

    top: 150px;
    left: 9%;

    width: 86%;
    height: calc(100dvh - 250px);

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;

    background: rgba(255, 0, 0, .20);
    border: 1px solid red;

    border-radius: 18px;
}

.liste-voyages::-webkit-scrollbar {
    display: none;
}


/* -----------------------------------------------------
   DEUX BOUTONS — TEST
----------------------------------------------------- */

.actions-voyages {
    position: absolute;

    left: 14%;
    bottom: 25px;

    width: 75%;

    display: flex;

    gap: 38px;

    z-index: 20;
}

.action-voyage {
    flex: 1;

    height: 45px;

    border: 1px solid red;
    border-radius: 16px;

    background: rgba(255, 0, 0, .20);

    color: white;

    font-size: 15px;
    font-weight: 700;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

/* =========================
   POSITION INDIVIDUELLE
========================= */

.formulaire-voyage > input:nth-of-type(1) {
    position: relative;
    top: -22px;
   left: 25px;
}

.formulaire-voyage > input:nth-of-type(2) {
    position: relative;
    top: 12px;
   left: 25px;
}

.formulaire-voyage > input:nth-of-type(3) {
    position: relative;
    top: 48px;
   left: 25px;
}

.cadre-photo {
    position: relative;
    top: 90px;
   left: 25px;
}

.cadre-enregistrer {
    position: relative;
    top: 120px;
}

.carte-voyage {
    position: relative;
    width: 100%;
    aspect-ratio: 900 / 560;
    flex-shrink: 0;
    overflow: hidden;
}

.fond-carte-voyage {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    display: block;

    z-index: 1;

    pointer-events: none;
}

/* =========================
   PHOTO DANS CARTE VOYAGE
========================= */

.photo-carte-voyage {
    position: absolute;

    left: 3%;
    top: 10%;

    width: 47%;
    height: 80%;

    padding: 6px;

    background: rgba(255, 255, 255, .45);

    overflow: hidden;

    z-index: 2;
}

.photo-carte-voyage img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}

.photo-carte-voyage img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}
